* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fcf9ff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7.5vh;
    background: red;
}

.nav__logo, .nav__selectors {
    margin: 0 4rem;
}